#sectionHead {
	height: 40px;
	border-bottom: 1px solid #EDEDED;
	margin-top: 10px;
}

#sectionHead ul {
	padding: 8px;
	float: right;
}

#sectionHead li {
	display: inline;
	padding: 5px;
	font-size: 12.5px;
}

.panel-body img{
	width:250px;
	height:250px;
}

/* ------------- 마이페이지 > 회원 회원정보 ------------- */
.my_page_password{padding: 30px 150px 60px 150px;}
.my_page_password p{font-size:14px; text-align:center;}
.my_page_password .mypage_zone_tit{margin:0 0 50px 0; padding:0 0 10px 0; font-size:14px; border-bottom:1px solid #999999;}
.my_page_password .id_pw_cont{overflow:hidden; margin:30px 0 30px 0; padding:26px 0 24px 0; border:1px solid #dadada; background:#f7f9f8; text-align:center;}
.my_page_password .id_pw_cont dl{display:inline-block; padding:5px 30px 5px 0; font-size:0; text-align:center; vertical-align:top;}
.my_page_password .id_pw_cont dt{display:inline-block; padding:5px 10px 0 0; font-size:14px; font-weight:bold; vertical-align:top;}
.my_page_password .id_pw_cont dd{display:inline-block; font-size:14px; text-align:left;}
.my_page_password .id_pw_cont dd strong{display:block; padding:5px 0 0 0; color:#00a7b3;}
.my_page_password .id_pw_cont dd .text_warning{font-size:12px;   }
.my_page_password .sns_cont{margin:30px 0 30px 0; padding:35px 0 35px 0; border:1px solid #dadada; background:#ffffff; text-align:center;}
        
.btn_center_box {
    text-align: center;
}
.btn_pw_cancel {
    display: inline-block;
    min-width: 80px;
    height: 44px;
    padding: 0 10px 0 10px;
    line-height: 40px;
    color: #00a7b3;
    font-size: 14px;
    border: 1px solid #00a7b3;
    background: #ffffff;
    text-align: center;
}
.btn_pw_certify {
    min-width: 80px;
    height: 44px;
    padding: 0 10px 0 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #00a7b3;
    background: #00a7b3;
    text-align: center;
    vertical-align: top;
}       

section{
	height: 550px;
} 