<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/defaultLayout}">
<head>
<meta charset="utf-8">
<th:block layout:fragment="pageCustomCss">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageMain.css}">
</th:block>
</head>

<th:block layout:fragment="content">

	<!-- index 메인 -->
	<section class="container" style="width: 78%;">
		<div class="centerWrap">
			<div id="sectionHead">
				<ul>
					<li><a th:href="@{/}">Home</a> >&nbsp;</li>
					<li><a th:href="@{/mypage}">마이 페이지</a></li>
				</ul>
			</div>
			<article id="topBox">
				<div id="left">
					<p>[[${session.memberVo.uname}]] 님은 Gold 회원등급
						입니다.</p>
				</div>
				<div id="right">
					<ul>
						<a th:href="@{/join/memberUpdate}"><li>내 정보수정</li></a>
						<a th:href="@{/mypage/store}"><li>MY 가게</li></a>
						<a th:href="@{/mypage/point}"><li>포인트</li></a>
						<a th:href="@{/mypage/review}"><li>MY 리뷰</li></a>
					</ul>
				</div>
			</article>
			<article id="middleBox" style="width: 100%">
				<div id="user">
					<img src="../images/common/basicProfile.png"
						style="width: 100px; height: 100px;">
					<div id="setProfile">
						<img src="../images/common/setting.png">
					</div>

					<p>[[${session.memberVo.uname}]]님</p>
					<p>Gold</p>
				</div>
				<div id="userInfo">
					<div class="box">
						<p>전체 리뷰</p>
						<span>20개</span>
					</div>
					<div class="box">
						<p>채택 리뷰</p>
						<span>0개</span>
					</div>
					<div class="box" style="border: 0px;">
						<p style="margin-left: 75px;">획득 포인트</p>
						<span>200P</span>
					</div>
				</div>
			</article>
			<div>
				<h3>등록된 가게 현황</h3>
				<button class="btn btn-default"
					style="float: right; margin-top: 10px; margin-right: 30px;"
					th:onclick="'window.location.href = \'' + @{/store/storeRegist} + '\''">가게
					등록하기</button>
			</div>
			<article id="review" style="width: 100%;">
				<table style="width: 100%;">
					<thead>
						<tr>
							<th style="width: 15%;">가게명</th>
							<th style="width: 15%;">현상금</th>
							<th style="width: 15%;">기간</th>
							<th style="width: 15%;">리뷰현황</th>
							<th style="width: 25%;">주소</th>
							<th style="width: 15%;">비고</th>
						</tr>
					</thead>
					<tbody id="storeTable" th:with="result=${result.result}">
						<tr th:each="store:${result.content}">
						<td><a th:href="${store.storeNum}" class="boardLink">[[${store.storeName}]]</a></td>
						<td>현상금</td>
						<td>기간</td>
						<td>리뷰현황</td>
						<td>[[${store.storeAddress1}]]  [[${store.storeAddress2}]]</td>
						<td>비고</td>
						</tr>
					</tbody>
				</table>
			</article>
			<div class="panel-footer text-center" style="position : relative; margin-bottom : 40px;">
								<ul class="pagination">
									<li class="page-item" th:if="${result.prevPage}"><a
										th:href="${result.prevPage.pageNumber} +1">&#60;&#60;</a></li>

									<li class="page-item"
										th:classappend="${p.pageNumber == result.currentPageNum -1}?active: '' "
										th:each="p:${result.pageList}"><a
										th:href="${p.pageNumber} +1">[[${p.pageNumber} +1]]</a></li>

									<li class="page-item" th:if="${result.nextPage}"><a
										th:href="${result.nextPage.pageNumber} +1">&#62;&#62;</a></li>
								</ul>
								<form id='f1' th:action="@{myStore}" method="get">
									<input type='hidden' name='page'
										th:value=${result.currentPageNum}> <input
										type='hidden' name='size'
										th:value=${result.currentPage.pageSize}>
										
										<input
										type='hidden' name='id'
										th:value=${session.memberVo.id}>
										
								</form>
							</div>
			
		</div>
	</section>
</th:block>

<th:block layout:fragment="pageCustomScript">
	<script th:src="@{/js/mypage/mystore.js}"></script>
	<script th:inline="javascript">
	$("document").ready(function() {
		
		var formObj = $("#f1");
		
		$(".pagination a").click(function(e) {
			e.preventDefault();

			formObj.find('[name="page"]').val($(this).attr('href'));
			formObj.submit();
		});
		
		var msg = [[${msg}]];
		
		if(msg == 'success'){
			alert("정상적으로 처리되었습니다.");
			var stateObj = {msg : "" };
		}
		
		
		$(".boardLink").click(function(e){
			e.preventDefault();
			alert("이동 준비!");
			var storeNo = $(this).attr("href");
			
			formObj.attr("action",[[@{'/store/view'}]]);
			formObj.append("<input type='hidden' name='storeNum' value='" + storeNo + "'>'");
			
			formObj.submit();
		});
	});
	</script>
</th:block>

</html>