<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/defaultLayout}">
<head>
<meta charset="utf-8">
<th:block layout:fragment="pageCustomCss">
    <link rel="stylesheet" th:href="@{/css/store/store.css}">
</th:block>
</head>

<th:block layout:fragment="content">
	<input type="hidden" id="storeNum" th:value="${vo.storeNum}">
	<input type="hidden" id="storeName" th:value="${vo.storeName}">
	<input type="hidden" id="storeAddress1" th:value="${vo.storeAddress1}">
	<input type="hidden" id="storeAddress2" th:value="${vo.storeAddress2}">
	<!-- index 메인 -->
	<section class="container" style="width: 70%;">
		<div class="centerWrap">
			<div id="sectionHead">
				<ul>
					<li><a href="../index.jsp">Home</a> >&nbsp;</li>
					<li>가게 소개 페이지</li>
				</ul>
			</div>
			<article id="topBox">
				<div id="head">
					<h1>[[${vo.storeName}]]</h1>
				
						<div id="expreimgBox">
							<div class="expreimg">
								<img src="../images/store/good.png" style="width: 40px; height: 40px;">
								<ul>
									<li>최고에요</li>
									<li>23</li>
								</ul>
							</div>
							<div class="expreimg">
								<img src="../images/store/soso.png" style="width: 40px; height: 40px;">
								<ul>
									<li>쏘쏘</li>
									<li>22</li>
								</ul>
							</div>
							<div class="expreimg">
								<img src="../images/store/bad.png" style="width: 40px; height: 40px;">
								<ul>
									<li>화나요</li>
									<li>32</li>
								</ul>
							</div>
						</div>
					<ul>
							<li>23,000원 현상금 &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
							<li>기간 : 2019.08.25 ~ 2019.09.25
								&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
							</li>
							<li>6개 리뷰 참여중 / 총 23
								리뷰</li>
						</ul>
						<ul>
							<li>[[${vo.storeAddress1}]]&nbsp;[[${vo.storeAddress2}]]&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
							</li>
							<li>[[${vo.businessTime}]]</li>
						</ul>
				</div>
				<div id="content">
						
						<div id="best_review">
		
							<div id="sticker">
								<ul
									style="margin-top: 10px; margin-left: 10px; font-weight: bold; font-size: 15px;">
									<li style="color : #ffffff;">Best Review</li>
									<li style="margin-top: 8px; color : #ffffff;">Score : 32점</li>
								</ul>
							</div>


							<div id="review_box">
								<div id="contentHead">
									<ul style="display: block;">
										<li style="font-size: 20px; margin-top: 8px;">Best Review 제목</li>
										<li style="float: right;">
											<div class="expreimg"
												style="float: right; text-align: center; width: 70px; height: 70px;">
												<div class="expreimg"
													style="text-align: center; width: 70px; height: 70px;">
													<img src="../images/store/good.png"
														style="width: 40px; height: 40px;">
													<ul style="margin-top: 0px;">
														<li>좋아요!</li>
													</ul>
													
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div id="contentContent">
									<ul style="margin-top: 0px;">
										<li style="height: 50px;">베스트 리뷰 내용</li>
										<li style="margin-top: 20px;">
								<img class="reprePicture"
											src="../uploadFile/reviewPicture/<%=reviewPictureList.get(0).getFileName()%>"
											style="width: 340px; height: 200px;"> 
										</li>
									</ul>
								</div>
								<div id="contentBottom" style="margin-top: 5px;">
							
									<div style="background-image: url(./images/basicProfile.png); width:50px; height : 50px; border-radius : 50px;"></div>

									<ul style="margin-left: 30px; margin-top: 5px;">
										<li>베스트리뷰작성자&nbsp;&nbsp;베스트리뷰어랭킹&nbsp;Rank</li>
										<li style="margin-top: 5px;">작성일자 : 리뷰 작성일</li>
									</ul>
								</div>





							</div>
						</div>
						
						<div id="photo">
							<div id="left">
								
								<img class="reprePicture"
									th:src="|https://s3.ap-northeast-2.amazonaws.com/catchreview/${vo.filename1}"
									style="width: 550px; height: 450px;">
									
							</div>
							<div id="right">
								<div class="right_photo">
					
									<img class="reprePicture"
										th:src="|https://s3.ap-northeast-2.amazonaws.com/catchreview/${vo.filename2}"
										style="width: 250px; height: 150px;">
									
		
								</div>
								<div class="right_photo">
									
									<img class="reprePicture"
										th:src="|https://s3.ap-northeast-2.amazonaws.com/catchreview/${vo.filename3}"
										style="width: 250px; height: 150px;">
									
									
								</div>
								<div class="right_photo">
									
									<img class="reprePicture"
										th:src="|https://s3.ap-northeast-2.amazonaws.com/catchreview/${vo.filename4}"
										style="width: 250px; height: 150px;">
									
								</div>
							</div>
						</div>
					</div>
			</article>
				<article id="middleBox">
					<div class="content">
						<div class="content_head">
						
							<h2>[[${vo.storeName}]]</h2>
							<h1>
								현상금<span>23,000원</span>
							</h1>
							
							<!-- 가게순위 -->
						</div>
						<div class="content_body" style="height: 300px;">

							<ul>
								<li><h2>
										기간 :
										2019.08.25
										~
										2019.09.25</h2> <span>23개 리뷰</span></li>
								<li></li>
							</ul>

							<div class="content_box">
				
								<div class="left_box">
									<h3 style="margin-top : 10px;">
										<div class="rankMark">
											<span
												style="margin-top: 20px; float: left; margin-left: 20px; color : #ffffff; font-weight : bold;">1위</span>
										</div>
									</h3>
								</div>
								<div class="right_box">
								
									<h1>
										&nbsp;&nbsp;&nbsp;베스트 리뷰 1위 제목<span>32점</span>
									</h1>
									<h1 style="margin-top: 7px; font-size:15px;">
										&nbsp;&nbsp;&nbsp;베스트 리뷰 작성자<span>베스트 리뷰 등급&nbsp;&nbsp;Rank</span>
									</h1>
									
								</div>
					
							</div>
							<div class="content_box" style="margin-top: 40px;">
							
								<div class="left_box">
									<h3>
										<div class="rankMark">
											<span
												style="margin-top: 20px; float: left; margin-left: 20px; color : #ffffff; font-weight : bold;">2위</span>
										</div>
									</h3>
								</div>
								<div class="right_box">
									<h1>
										&nbsp;&nbsp;&nbsp;베스트 리뷰 2위 제목<span>23점</span>
									</h1>
									<h1 style="margin-top: 7px; font-size:15px;">
										&nbsp;&nbsp;&nbsp;베스트리뷰 작성자<span>베스트 리뷰 등급&nbsp;&nbsp;Rank</span>
									</h1>
								</div>
								
							</div>
							<div class="content_box" style="margin-top: 40px;">
							
								<div class="left_box">
									<h3>
										<div class="rankMark">
											<span
												style="margin-top: 20px; float: left; margin-left: 20px; color : #ffffff; font-weight : bold;">3위</span>
										</div>
									</h3>
								</div>
								<div class="right_box">
									<h1>
										&nbsp;&nbsp;&nbsp;베스트 리뷰 3위 제목<span>10점</span>
									</h1>
									<h1 style="margin-top: 7px; font-size:15px;">
										&nbsp;&nbsp;&nbsp;베스트리뷰 3위 작성자<span>베스트 리뷰 등급&nbsp;&nbsp;Rank</span>
									</h1>
								</div>
								
							</div>

						</div>
					</div>
					<div class="content">
						<div class="content_head" style="margin-bottom: 10px;">
							<h2>소개</h2>
							<dl>
								<dd style="height: 220px;">[[${vo.storeIntro}]]</dd>
							</dl>
						</div>
						<div class="content_body" style="height: 100px;">
							<div class="content_box">
								<div class="left_box">영업시간</div>
								<div class="right_box">
									<dl>
										<dt style="margin-bottom: 5px;">[[${vo.businessTime}]]</dt>
									</dl>
								</div>
								<div class="left_box">
									휴일
								</div>
								<div class="right_box">[[${vo.storeHoliday}]]</div>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="content_head" style="margin-bottom: 10px;">
							<h2>문의하기</h2>
						</div>
						<div class="content_body">
							<div id="map" style="width: 350px; height: 200px;"></div>
							<div class="content_box" style="height: 30px;">
								<div class="left_box" style="height: 30px;">위치</div>
								<div class="right_box" style="height: 30px;">[[${vo.storeAddress1}]]</div>
							</div>
							<div class="content_box" style="height: 30px;">
								<div class="left_box" style="height: 30px;"></div>
								<div class="right_box" style="height: 30px;">[[${vo.storeAddress2}]]</div>
							</div>
							<div class="content_box" style="height: 30px;">
								<div class="left_box" style="height: 30px;">전화번호</div>
								<div class="right_box" style="height: 30px;">[[${vo.storePhone}]]</div>
							</div>
							<div class="content_box" style="height: 30px;">
								<div class="left_box" style="height: 30px;">예약하기</div>
								<div class="right_box" style="height: 30px;">
									12/54<a href="#"><span>예약신청</span></a>
								</div>
							</div>
						</div>
					</div>
				</article>
			
			<article id="bottomBox">
					<div id="bottomHead">
						<h1>
							리뷰<span>(23개)
							</span><a id="btn_write">리뷰 작성하기</a>
						</h1>
					</div>
					<div style="display: flex; justify-content: center">
						<article style="width: 1200px; margin-bottom: 0px;">
							<div id="bottomContent">
								<div id="bottom_left"
									style="height: 163px; margin-top: 25px; margin-left: 0px;">

									<ul>
									
										<div class="profile"
											style="background-image: url(../images/common/basicProfile.png);"></div>
										<a href="../mypage/"><li
											style="margin-top: 8px; margin-left: 50px;">리뷰작성자</li></a>
										<li style="margin-top: 3px; margin-left: 50px;">리뷰어등급</li>

									</ul>

								</div>

								<div id="bottom_right"
									style="width: 800px; padding-bottom: 21px; margin-bottom: 1px; margin-right: 40px; height: 204px; padding-top: 4px;">


									<div id="expreimgBox">
										<div class="expreimg" style="right: 70px; text-align: center;">
											<img src="../images/common/good.png">
											<ul>
												<li>좋아요!</li>
											</ul>
											
										</div>
									</div>

									<dl style="margin-bottom: 0px; margin-top: 1px; padding-top : 30px;">
										<a >
											<dt style="margin-bottom: 16px;">

												<h1 style="margin-bottom: 0px; margin-top: 10px; font-size: medium;">리뷰제목</h1>
											</dt>
											<dd style="margin-top: 20px;">리뷰내용</dd>
										</a>
										<div style="display: flex; justify-content: flex-end; margin-top:30px;">
											<dd>
												작성일 :
												리뷰작성시간</dd>
											<dd></dd>
											<dd style="margin-left: 20px;">
												리뷰 평점
												<div
													style="background: url('../images/common/star.gif') no-repeat 0 -33px; margin-left: 5px; width: 75px; height: 20px; float: right;">
													<div
														style="overflow: hidden; width: 20 * 20%; height: 20px;">
														<div
															style="background: url('../images/common/star.gif') no-repeat 0 -96px; width: 100px; height: 20px;"></div>
													</div>
												</div>
											</dd>
										</div>
									</dl>
								</div>
								<div style="position: relative;">
									
									<a class="reviewUpdate" onclick="reviewModify(12)"
										style="position: absolute; top: 60px; right: -60px;">수정</a> <a
										class="reviewUpdate" onclick="reviewDelete(12)"
										style="position: absolute; top: 100px; right: -60px;">삭제</a>
									
								</div>
							</div>
						</article>
					</div>
					<div style="display: grid;">
						<div class="wr_num">
							<ul id="pagination">

							</ul>
						</div>
					</div>
				</article>
			
		</div>
	</section>
</th:block>

<th:block layout:fragment="pageCustomScript">
<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e0853fb58f3f6c7a181c9ca5c58735af&libraries=services"></script>
<script th:src="@{/js/store/store.js}"></script>
<script th:inline="javascript">
</script>
</th:block>

</html>