#sectionHead{
		height:40px;
		border-bottom : 1px solid #EDEDED;
		margin-top : 10px;
	}
	#sectionHead ul{
		padding : 8px;
		float : right;
	
		
	}
	#sectionHead li{
		display: inline;
		padding:5px;
		font-size:12.5px;
	}
	
	
#topBox{
	margin-top : 20px;
	display: block;
	height:100px;
}
#topBox #left{
	float : left;
}
#topBox #left p{
	font-size : 20px;
	padding : 30px;
}
#topBox #right{
	float : right;
	width:700px;
}
#topBox li{
	width: 100px;
	height: 100px;
	float: right;
	display: inline-block;
	margin: 0 1.25% 0 0;
	border: 2px solid #eee;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
	color: #666;
	padding-top : 40px;
}
#topBox li:hover{
	border-color : #000000;
}
#topBox a{
	text-decoration: none;
	font-size : 13.7px;
}
#middleBox{
	width:1280px;
	height:250px;
	background-color: #F7F9F8;
	border : 1px solid #E3E3E3;
	margin-top : 20px;
	display: flex;
	flex-direction: row;
	margin-bottom : 40px;
}
#middleBox #user{
	float:left;
	width:280px;
	height:200px;
	border-right : 1px solid #E1E3E2;
	margin-top : 25px;
}
#user>img{
	margin-left : 90px;
	margin-top : 20px;
}
#user p{
	text-align: center;
	font-size : 13.7px;
	margin-top : 10px;
	color : #000000;
	font-weight : bold;
}
#middleBox #userInfo{
	float:right;
	width:999px;
	height:250px;
	display: flex;
	flex-direction: row;
}
.box{
	width:350px;
	height:200px;
	border-right : 1px solid #E1E3E2;
	margin-top : 25px;
	padding : 50px;
}
.box p{
	font-size:20px;
	font-weight:bold;
	margin-left : 70px;
	margin-bottom : 40px;
}
.box span{
	font-size:18px;
	color : #000000;
	font-weight:bold;
	width:100%;
	display: block;
	text-align : center;
}


/* 가게 리스트 */

#listSection .panel{
	border : 1px solid #eeeeee;
}

#listSection .panel-heading{
	border-color : #eeeeee;
	background-color : #000000;
}

#listSection .panel-heading{
	padding:0px;
}
#listSection #header li{
	padding: 10px;
	width:33%;
	margin : 0 auto;
	display : inline-block;
	text-align: center;
	color : #bbbbbb;
	font-weight : bold;
}
#listSection #header li:hover{
	color : #ffffff;
	font-weight : bold;
}

#listSection #area{
	width: 100%;
	float: left;
    border-left: 1px solid #4d4d4c;
    border-right: 1px solid #d0d0d0;
    background: #666a7a;
}

#listSection #area li{
	background: url(../../images/tab_subBar02.gif) no-repeat 100% 16px;
    float: left;
    width: 61px;
    height: 46px;
    text-align: center;
    display: inline-block;
    padding:15px;
    margin-right : 0px;
    color : #ffffff;
    margin : 0 auto;
}


/* 리뷰 리스트 */
#reviewList .media{
	padding : 30px;
	padding-left : 100px;
}
#reviewList img{
	width : 90px;
	height : 90px;
	border-radius : 80px;
}

#reviewList #writer{
	margin-top : 15px;
}
#reviewList .media-heading{
	position : relative;
	display : flex;
	flex-direction : row;
}
#reviewList .media-body{
	padding-left : 100px;
}

#reviewList #expreImgBox {
	position : absolute;
	right : 250px;
}
#reviewList #expreImgBox img{
	width:40px;
	height:40px;
}

#reviewList .expreImg ul{
	padding : 0px;
}

#reviewList .expreImg li{
	text-align : center;
}
.media-body span{
	margin-right : 30px;
}


.flex-row{
	margin : 0px;
	color : #ffffff;
}
.selected{
	color : #ffffff;
	font-weight : bold;
}

/* 프로필 버튼 */
#setProfile{
	width: 30px;
    height: 30px;
    position: relative;
    bottom: 30px;
    left: 175px;
}
#setProfile img{
    width: 30px;
    height: 30px;
}

.reviewUpdate{
    float: right;
    padding: 8px;
    background-color: #00A7B3;
    color: #fff;
    position: relative;
    top: 50px;
    right: 20px;
    text-align: center;
    font-weight: bold;
    width: 70px;
    margin: 2px;
    font-size: 13px;
    border-radius: 20px;
}
